nav {
    background-color: #1a2238; /* Dark blue background color */
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a2238;
    z-index: 999;
  }
  
  .nav_div {
    display: flex;
    align-items: center;
  }
  
  .nav_image {
    height: 70px; /* Adjust the height as needed */
    margin-right: 10px;
  }
  
  .nav_link {
    color: #ffffff; /* White text color */
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    margin-right: 10px;
  }
  
  .nav_link:hover {
    color: #ffd700; /* Hover text color */
  }
  
  
  
  * {box-sizing:border-box}
  
  
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  
  .mySlides {
    display: none;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  .about-card {
    background-color: #e6f2ff;
    padding: 20px;
    margin-top : 50px;
    display: flex;
    justify-content: center;
    border-radius : 25px;
    align-items: flex-start;
  }
  
  .about-section {
    flex: 1;
    padding: 20px;
  }
  
  .vertical-line {
    width: 2px;
    height: 100%;
    background-color: #1a2238;
    margin: 0 20px;
  }
  
  .about-section h1 {
    color: #333;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .about-section p {
    color: #555;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  
  .vid {
    text-align: center;
    gap: 20px;
    
  }
  .vid iframe {
    width: 420px;
    height: 315px;
    border: none;
    border-radius:20px;
  }
  .vid .vh {
    color:#ffd700;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  
  .footer-basic {
    background-color: #1a2238;
    padding: 20px;
    color: #fff;
  }
  
  .footer-basic footer ul.list-inline {
    text-align: left;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    margin-left : 20px ;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer-basic footer ul.list-inline li.list-inline-item {
    margin-bottom: 5px;
    list-style-type: none;
  }
  
  .footer-basic footer ul.list-inline li.list-inline-item a {
    color: #fff;
    
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-basic footer ul.list-inline li.list-inline-item a:hover {
    color: #ffc107;
  }
  
  .footer-basic footer p {
    font-size: 17px;
    color:#C0C0C0;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  
  .footer-basic footer p a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-basic footer p a:hover {
    text-decoration: underline;
  }
  
  body {
    background: linear-gradient(to bottom, #000000, #1a2238, #3498db);
    padding-top: 60px;
  }
  
  