nav {
    background-color: #1a2238; /* Dark blue background color */
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a2238;
    z-index: 999;
  }
  
  .nav_div {
    display: flex;
    align-items: center;
  }
  
  .nav_image {
    height: 70px; /* Adjust the height as needed */
    margin-right: 10px;
  }
  
  .nav_link {
    color: #ffffff; /* White text color */
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    margin-right: 10px;
  }
  
  .nav_link:hover {
    color: #ffd700; /* Hover text color */
  }
  
  