body {
    background-image: url("images/home.jpg");
    font-family: 'Poppins', sans-serif;

  background-size: cover;
  margin: 0;
  
  }
  .navMenu {
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(360deg, rgba(3,23,53,1) 0%, rgba(3,23,53,1) 44%, rgba(1,9,21,1) 78%);

    letter-spacing: 1.5px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    margin-top: 10px;
 
    letter-spacing: 1.5px;
   
  }
  
  .navMenu a {
    color: silver;
    text-decoration-color: silver;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
   margin-left: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  
  
  }
  
  .navMenu a:hover {
    color: goldenrod;
  }
  .navbar-brand
 {
  float: left;
  margin-top: 40px;
  padding: 10px;
 }
 .container
 {
  margin-top: 80px;
  padding: 10px;
 }
  