.prodimg
{
    height: 10rem;
    width: 10rem;
    padding: 20px;
    float: left;
}
body{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(9,13,18,1) 0%, rgba(14,44,89,1) 44%, rgba(33,70,126,1) 87%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(9,13,18,1) 0%, rgba(14,44,89,1) 44%, rgba(33,70,126,1) 87%);

}



  .navMenu {
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(360deg, rgba(3,23,53,1) 0%, rgba(3,23,53,1) 44%, rgba(1,9,21,1) 78%);
font-size: 25px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    margin-top: 10px;
 
    letter-spacing: 1.5px;
   
  }
  
  .navMenu a {
    color: silver;
    text-decoration-color: silver;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
   margin-left: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  
  
  }
  
  .navMenu a:hover {
    color: goldenrod;
  }
  .navbar-brand
 {
  float: left;
  margin-top: 40px;
  padding: 10px;
 }
 .container
 {
  margin-top: 80px;
  padding: 10px;
 }
 .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.3s;
    position: relative;
    background-color: white;
    margin-left: 40px;

    margin-bottom: 20px;
    border-radius: 8px;


  }
  .card-body
  {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }
  