body{
    background: linear-gradient(180deg, rgba(101,156,241,1) 0%, rgba(20,83,180,1) 50%);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(9,13,18,1) 0%, rgba(14,44,89,1) 44%, rgba(33,70,126,1) 87%);
margin: 0;
text-align: center;
}

.mine
{
    margin: auto;
    margin-top: 30px;
    border-radius: 0;

}

td,th{
    text-align: center;
 padding: 10px;
 margin-left: 30px;
}

.card-title
{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(191, 236, 250);
   
}
.card
{
    text-align: center;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.navbar
{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(9,13,18,1) 0%, rgba(14,44,89,1) 44%, rgba(33,70,126,1) 87%);
    background: rgb(255,255,255);
    background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(3,23,53,1) 0%, rgba(3,23,53,1) 44%, rgba(1,9,21,1) 78%);
}



.nav-link
{
    color: white;
}


